extends layout

block content
  .main.container
    if json
      h1 Scrape Results
      table
        tr
          th Title
          th Release Date
          th Rating
        tr
          td #{json.title}
          td #{json.release}
          td #{json.rating}
    form(method="post" action="/scrape")
      input(type="text" name="url")


